apiVersion: v1
kind: Service
metadata:
  name: grimoirelab-gateway
  namespace: grimoirelab
  labels:
    app.kubernetes.io/name: grimoirelab
    app.kubernetes.io/component: nginx
spec:
  type: LoadBalancer
  ports:
    - name: http
      port: 8000
      targetPort: 8000
  selector:
    app.kubernetes.io/name: grimoirelab
    app.kubernetes.io/component: nginx
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: grimoirelab-nginx
  namespace: grimoirelab
  labels:
    app.kubernetes.io/name: grimoirelab
    app.kubernetes.io/component: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: grimoirelab
      app.kubernetes.io/component: nginx
  template:
    metadata:
      labels:
        app.kubernetes.io/name: grimoirelab
        app.kubernetes.io/component: nginx
    spec:
      containers:
        - name: nginx
          image: nginx:latest
          ports:
            - containerPort: 8000
          env:
            - name: KIBANA_HOST
              value: http://opensearch-dashboards:5601/
          readinessProbe:
            httpGet:
              path: /
              port: 8000
            initialDelaySeconds: 20
            periodSeconds: 10
          volumeMounts:
            - name: nginx-template
              mountPath: /etc/nginx/templates/default.conf.template
              subPath: nginx.conf.template
            - name: nginx-template
              mountPath: /etc/nginx/uwsgi_params
              subPath: uwsgi_params
            - name: sortinghat-static
              mountPath: /sortinghat
              readOnly: true
      volumes:
        - name: nginx-template
          configMap:
            name: grimoirelab-nginx-templates
        - name: sortinghat-static
          persistentVolumeClaim:
            claimName: sortinghat-static

