apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mariadb-data
  namespace: grimoirelab
  labels:
    app.kubernetes.io/name: grimoirelab
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: valkey-data
  namespace: grimoirelab
  labels:
    app.kubernetes.io/name: grimoirelab
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: opensearch-data
  namespace: grimoirelab
  labels:
    app.kubernetes.io/name: grimoirelab
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 50Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sortinghat-static
  namespace: grimoirelab
  labels:
    app.kubernetes.io/name: grimoirelab
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
  storageClassName: sortinghat-hostpath
  volumeName: pv-sortinghat-static

